<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detección de Depresión</title>
</head>
<body>
    <h1>Detección de Depresión</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="captureButton">Capturar Imagen</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <form action="/upload" method="post" enctype="multipart/form-data" style="display: none;" id="uploadForm">
        <input type="hidden" name="image" id="imageInput">
        <button type="submit">Analizar</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const captureButton = document.getElementById('captureButton');
            const uploadForm = document.getElementById('uploadForm');
            const imageInput = document.getElementById('imageInput');

            navigator.mediaDevices.getUserMedia({ video: true })
                .then((stream) => {
                    video.srcObject = stream;
                })
                .catch((error) => {
                    console.error('Error al acceder a la cámara:', error);
                });

            captureButton.addEventListener('click', () => {
                const context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                // Convertir la imagen del canvas a base64
                const imageData = canvas.toDataURL('image/jpeg');
                
                // Establecer la imagen en el campo de entrada oculto
                imageInput.value = imageData;

                // Mostrar el formulario de carga
                uploadForm.style.display = 'block';
            });
        });
    </script>
</body>
</html>